@charset "UTF-8";

/* =========================
   🔤 Import Fonts
   Status: Finalizado
   Features:
    - Importação de fontes do Google Fonts
   Reasoning:
    - As fontes importadas são essenciais para a identidade visual do site, proporcionando uma estética única e alinhada com o tema de entretenimento.
========================= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Rubik+Glitch&family=Syne:wght@400..800&display=swap');

/* =========================
   🔄 Root Reset + Base Setup
   Status: Finalizado
   Features:
    - Reset de margens e padding
    - Definição de box-sizing global
   Reasoning:
    - Garante consistência entre navegadores e evita bugs de layout.
========================= */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   🎨 Root Variables
   Status: Finalizado
   Features:
    - Definição de variáveis globais de cores e fontes
   Reasoning:
    - Facilita manutenção e permite consistência visual e troca rápida de tema.
========================= */
:root {

    /*
     🎨 Color Palette Reference (base)
     #373539
     #F6DA9D
     #AD0013
     #A67D43
     #121312
     #FFFBF4
    */

    --background-card: #121212;
    --background-card-hover: #1f1f1fe3;
    --text: #FFFBF4;

    /* =========================
       🎯 Accent & Contrast Colors
    ========================= */
    --accent: #121312;
    --contrast: #F6DA9D; /* 2ecc71 pensar depois */
    --contrast-two: #E3C565;
    --constrast-Accent: #c7b07f;
    --cta: #861321;
    --cta-hover: #ac1a2b;

    /* =========================
       🔤 Typography
    ========================= */
    --font-text: 'Montserrat', sans-serif;
    --font-title: 'Syne', sans-serif;
    --font-Display: 'Rubik Glitch', cursive;
}